# dependencies
/node_modules
/.pnp
.pnp.*

# next.js build output
/.next/
/out/
/build

# environment variables & secrets (Strict Zero-Leak Policy)
.env
.env*.local
.env.production
!.env.example

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# system & IDE
.DS_Store
*/.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
.vercel
.netlify
.git.demo
.open-next
.wrangler

